{% if name %}
<center>
  <h3>Rahmat {{ self.name }}</h3>
  <p>Thanks will will be get in touch with you!</p>
</center> 
{% else %}

<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
    <form action="{% url 'send_mail' %}" method="post" role="form" class="php-email-form">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-6">
          <input type="text" name="name" class="form-control" id="name" required placeholder="Ismingiz">
        </div>
        <div class="form-group col-md-6 mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" required placeholder="Email">
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" id="subject" required placeholder="Automobil nomi va markasi">
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="10" required placeholder="Xabar qoldiring"></textarea>
      </div><br>
      <center><button type="submit">Send Message</button></center>
    </form>
  </div>
{% endif %}