{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/monza.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/BYDHAN.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <center><h4 class="title" id="titleid">Logistika</h4></center>
              <p class="description">Xitoydan dunyo mamlakatlari va xususan O’zbekistonga temir yo’l orqali to’liq konteynerlarni, yig'ma konteynerlarni, dengiz orqali to'liq konteynerlarni va yig'ma konteynerlarni, quruqlikda yuk transport avtomobillari yordamida yuklarni yetkazib berish xizmati.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <center><h4 class="title" id="titleid">Bojxona</h4></center>
              <p class="description">Mahsulot buyurtma qilingach uni O’zbekistonda qay shaklda bojxona nazoratidan o’tkazishni Hamkorlarga tushuntirish, eng tez va arzon yo’llar orqali yuklarni bojxona nazoratidan o’tkazishni hal qilish.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <center><h4 class="title" id="titleid">Kargo</h4></center>
              <p class="description">Xitoydan harid qilingan kichik hajmli mahsulotlarni tez yetib boradigan yo’llar (avto va avia) orqali barcha bojxona rasmiylashtirishlarini amalga oshirgan holda mijoz qo'ligacha yetkazib berish xizmati.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= services Section ======= -->
    <section id="services" id="about" class="about">
      <div class="container">
        <h1><center>Xizmatlar</center></h1><br><br><br>
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/savdo.jpeg' %}" class="img-fluid" style="box-sizing: content-box;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Savdo</h3>
            <p class="fst" style="font-size: 20px;">
              Elektromobillar — bu kelajak transportidir. Mashina tejamkor, ekologik toza va juda qulay. Ularga talab bor, shuning uchun biz maxsus sayt ochdik. Saytda qiziquvchilar kerakli ma’lumotlar bilan tanishib, yoqqan avtomashinani tanlab, buyurtma berishi mumkin. Boshida biz avval foydalanilgan mashinalarni sotishga qaror qildik. Chunki bugungi kunda yangi avtomashinaning narxi bojxona to‘lovlari bilan birga hisoblanganda, mashina umumiy narxining 56 foizini tashkil qiladi, bu juda qimmat", — deb izoh berildi kompaniya tomonidan.
            </p>
        </div>
      </div>

      <!-- 2nd service -->
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/yuridik.jpg' %}" class="img-fluid" style="box-sizing: content-box;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Yuridik</h3>
            <p class="fst" style="font-size: 20px;">
              Tadbirkorlar Xitoy tadbirkorlari bilan savdosida tushib qolgan qiyin ahvolni, aldanishlarni, pul bilan bog’liq bo’lgan muammolarni huquqiy jihatdan, Xitoylik va chet ellik advokatlar yordamida ijobiy tomonga hal qilish. Qonuniy jihatdan eng to’g’ri bo’lgan bitimlarni tuzish, Hamkorlarimizni Xitoy davlatida huquqiy himoya qilish.
            </p>
          </div>
        </div>
      </div>

      <!-- 2nd service end -->
      


      <!-- 3rd service  -->
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/konsultatsiya.jpg' %}" class="img-fluid" style="box-sizing: content-box;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Konsultatsiya</h3>
            <p class="fst" style="font-size: 20px;">
              Xitoy firmalari, ishlab chiqaruvchilari bilan ishlashda yuz berishi mumkin bo’lgan havflarni oldindan aniqlash, ularga muqobil yechimlar berish. Xitoylik tadbirkorlar bilan savdo aloqalarini o’rnatishda, muzokaralar o’tkazishda, sadvolashishda, yuklarni tayyorlanishini nazorat qilishda, tayyor bo’lgan yuklarni yuklashni nazoratga olishda hamkorlarga yaqindan yordam berish. Hamkorlarimiz buyurtma qilmoqchi bo’layotkan Xitoy firmalarini oldindan tekshirib berish, mahsulotlar sifatini va sonini tekshirib berish xizmati; Hamkorlarimiz nomidan muzokaralarda qatnashish, o’zlari topkan mahsulotlarni ular uchun muzokalarda eng arzon narxlarda olinishiga erishish xizmatlari.
            </p>
          </div>
        </div>
      </div>
      <!-- 3rd service end -->


      <!-- 4 service -->
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/cargo.jpg' %}" class="img-fluid" style="box-sizing: content-box;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Kargo</h3>
            <p class="fst" style="font-size: 20px;">
              Ayni paytda O‘zbekistonda ham elektromobillar ommalashib bormoqda. Chetdan tobora ko'proq yangi brendlar keltirilmoqda, xizmat ko'rsatish markazlari va elektr yonilg'i quyish shoxobchalari paydo bo'lmoqda, bu esa ushbu avtomobillarga bo'lgan talabdan dalolat beradi. Elektr transport vositalari ekologiya yo'nalishidagi katta yutuqdir. Ushbu avtomobillar chiqindi gazlar va zararli chiqindilarni ishlab chiqarmaydi, bu ularni eng toza va yashil transport vositalariga aylantiradi. 
            </p>
          </div>
        </div>
      </div>
      <!-- 4 service end -->

    </section><!-- End About Section -->

    

    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2><center>Galareya</center></h2>
        </div>
        <br><br>

        
        <div class="row portfolio-container">
          {% for gallery in gallerys %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{ gallery.image.url }}" class="img-fluid" alt="{{ gallery.for_home }}">
            <div class="portfolio-info">
                <h4>{{ gallery.name }}</h4>
                <a href="{{ gallery.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="{% url 'gallery_details' gallery.id %}" class="details-link" title="Xarakteristikasini ko'rish"><i class="bx bx-link"></i></a>
            </div>
          </div>
          {% endfor %}
      </div>
    </section><!-- End Portfolio Section -->

    

    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Bizning jamoa</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/sarvaraka.jpg' %}" alt="">
              <h4>Normatov Sarvar</h4>
              <span>CEO manager</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/gayrataka.jpg' %}" alt="">
              <h4>G'ofurov G'ayrat</h4>
              <span>CEO</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/davronaka.jpg' %}" alt="">
              <h4>Buvajonov Davron</h4>
              <span>CEO</span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h1><center>Aloqa</center></h1><br><br><br>
        </div>

        <div class="row">

          <div class="col-lg d-flex align-items-stretch center">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Manzil:</h4>
                <p>158 Muqimiy ko'chasi, Toshkent 100115</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telfon:</h4>
                <p>+998 78 113 88 80</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.6606079225535!2d69.21815117651596!3d41.29449040175148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b651df0eded%3A0xb99dfbc4bdec60e5!2sCHINWAKIL%20company!5e0!3m2!1suz!2s!4v1689758010757!5m2!1suz!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
            </div>
          </div>

          
        </div>
        </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

  {% endblock content %}