{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><br><br><br>

<div class="page-header" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/assets/img/monza17.jpg); width: 100%; height: 500px;">
  <div class="container">
    <h1 class="page-title" style="color: aliceblue;padding-top: 200px; font-weight: bold; font-size: 80px;">Biz haqimizda</h1>
  </div>
</div>

<!-- ======= Team Section ======= -->
<div class="container px-4 text-center" style="background-color: transparent;">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3">
        <center>
          <h2>Biz haqimizda</h2><br><br>
          <p>
            O’ZBEKISTONDAGI “XITOY”NING ELEKTROMOBILLARI RASMIY DILERI. <br><br>

              Bizning dilerlik keng ko’lamli xizmatlarga ega, shuningdek bir qancha brendlar bilan hamkorlikda ishlab kelmoqda va xizmat ko’rsatish standartlarini to’liq kafolatlaydi.
            
            Rasmiy dilerlik o’z ixtiyorida keng ko’rgazma zaliga ega bo’lib, mavjud "build your dreams" "NETA", "Chevrolet monza" va yana ko'plab avtomobillariga e’tiborni qaratishga yordam beradi.
            
            Ko’rgazma zalimizning yana bir xususiyati yuqori malakali jamoadir. Mijozlar bilan ishlashda biz halollik, ochiqlik va mas’uliyat tamoyillariga amal qilamiz.
            
            Rasmiy dilerlik markazida siz kerakli ekspert maslahatini olishingiz, shaxsiy talablaringizga ko’ra avtomobilni sozlashingiz, shuningdek, sinov test-drayv uchun majvud modellardan birini tanlashingiz mumkin. Mehmonlarimiz va mijozlarimiz qulayligi uchun dilerlik qulay yumshoq mebellar va WI-FI ulanishi bilan jihozlangan.
            
            Rasmiy dilerlikdan eng yaxshi xizmatga ega bo’ling.
          </p>
        </center>
     </div>
    </div>
    <div class="col">
      <div class="p-3">
        <img src="/static/assets/img/chazor.jpg" style="display: flex; width: 100%; max-height: 100%; border-radius: 5%;">
      </div>
    </div>
  </div>
</div>
<br><br><br>
<!-- End Team Section -->
  {% endblock content %}