{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
  <!-- ======= services Section ======= -->
  <section id="services" id="about" class="about">
    <div class="container">
      <h1><center>Xizmatlar</center></h1><br><br><br>

      <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <center><h4 class="title" id="titleid">Logistika</h4></center>
                <p class="description">Xitoydan dunyo mamlakatlari va xususan O’zbekistonga temir yo’l orqali to’liq konteynerlarni, yig'ma konteynerlarni, dengiz orqali to'liq konteynerlarni va yig'ma konteynerlarni, quruqlikda yuk transport avtomobillari yordamida yuklarni yetkazib berish xizmati.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <center><h4 class="title" id="titleid">Bojxona</h4></center>
                <p class="description">Mahsulot buyurtma qilingach uni O’zbekistonda qay shaklda bojxona nazoratidan o’tkazishni Hamkorlarga tushuntirish, eng tez va arzon yo’llar orqali yuklarni bojxona nazoratidan o’tkazishni hal qilish.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <center><h4 class="title" id="titleid">Kargo</h4></center>
                <p class="description">Xitoydan harid qilingan kichik hajmli mahsulotlarni tez yetib boradigan yo’llar (avto va avia) orqali barcha bojxona rasmiylashtirishlarini amalga oshirgan holda mijoz qo'ligacha yetkazib berish xizmati.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
      <br><br>
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/savdo.jpeg' %}" class="img-fluid" style="box-sizing: content-box;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Savdo</h3>
          <p class="fst" style="font-size: 20px;">
            Elektromobillar — bu kelajak transportidir. Mashina tejamkor, ekologik toza va juda qulay. Ularga talab bor, shuning uchun biz maxsus sayt ochdik. Saytda qiziquvchilar kerakli ma’lumotlar bilan tanishib, yoqqan avtomashinani tanlab, buyurtma berishi mumkin. Boshida biz avval foydalanilgan mashinalarni sotishga qaror qildik. Chunki bugungi kunda yangi avtomashinaning narxi bojxona to‘lovlari bilan birga hisoblanganda, mashina umumiy narxining 56 foizini tashkil qiladi, bu juda qimmat", — deb izoh berildi kompaniya tomonidan.
          </p>
      </div>
    </div>

    <!-- 2nd service -->
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/yuridik.jpg' %}" class="img-fluid" style="box-sizing: content-box;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Yuridik</h3>
          <p class="fst" style="font-size: 20px;">
            Tadbirkorlar Xitoy tadbirkorlari bilan savdosida tushib qolgan qiyin ahvolni, aldanishlarni, pul bilan bog’liq bo’lgan muammolarni huquqiy jihatdan, Xitoylik va chet ellik advokatlar yordamida ijobiy tomonga hal qilish. Qonuniy jihatdan eng to’g’ri bo’lgan bitimlarni tuzish, Hamkorlarimizni Xitoy davlatida huquqiy himoya qilish.
          </p>
        </div>
      </div>
    </div>

    <!-- 2nd service end -->
    


    <!-- 3rd service  -->
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/konsultatsiya.jpg' %}" class="img-fluid" style="box-sizing: content-box;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Konsultatsiya</h3>
          <p class="fst" style="font-size: 20px;">
            Xitoy firmalari, ishlab chiqaruvchilari bilan ishlashda yuz berishi mumkin bo’lgan havflarni oldindan aniqlash, ularga muqobil yechimlar berish. Xitoylik tadbirkorlar bilan savdo aloqalarini o’rnatishda, muzokaralar o’tkazishda, sadvolashishda, yuklarni tayyorlanishini nazorat qilishda, tayyor bo’lgan yuklarni yuklashni nazoratga olishda hamkorlarga yaqindan yordam berish. Hamkorlarimiz buyurtma qilmoqchi bo’layotkan Xitoy firmalarini oldindan tekshirib berish, mahsulotlar sifatini va sonini tekshirib berish xizmati; Hamkorlarimiz nomidan muzokaralarda qatnashish, o’zlari topkan mahsulotlarni ular uchun muzokalarda eng arzon narxlarda olinishiga erishish xizmatlari.
          </p>
        </div>
      </div>
    </div>
    <!-- 3rd service end -->


    <!-- 4 service -->
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/Logistika.jpg' %}" class="img-fluid" style="box-sizing: content-box;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Kargo</h3>
          <p class="fst" style="font-size: 20px;">
            Ayni paytda O‘zbekistonda ham elektromobillar ommalashib bormoqda. Chetdan tobora ko'proq yangi brendlar keltirilmoqda, xizmat ko'rsatish markazlari va elektr yonilg'i quyish shoxobchalari paydo bo'lmoqda, bu esa ushbu avtomobillarga bo'lgan talabdan dalolat beradi. Elektr transport vositalari ekologiya yo'nalishidagi katta yutuqdir. Ushbu avtomobillar chiqindi gazlar va zararli chiqindilarni ishlab chiqarmaydi, bu ularni eng toza va yashil transport vositalariga aylantiradi. 
          </p>
        </div>
      </div>
    </div>
    <!-- 4 service end -->

  </section><!-- End About Section -->

  
  {% endblock content %}